<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
      }
      main {
        margin-left: auto;
        margin-right: auto;
        max-width: 60rem;
      }
    </style>
  </head>
  <body>
    <main>
      {% if page.url === "/" %}
      <h1>Embed Everything</h1>
      {% else %}
      <h1><a href="/">Embed Everything</a>: {{title}}</h1>
      {% endif %}
      {{ content | safe }}
    </main>
  </body>
</html>