name: Node.js CI and Codecov
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        node: ["8", "10", "12", "14", "16", "17"]
    name: Node.js ${{ matrix.node }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Run tests using ava
        run: |
          npm ci
          npx nyc --reporter=lcov ava
      - name: Upload coverage to Codecov.io
        uses: codecov/codecov-action@v3
        with:
          verbose: true
